.login{
    width: 100vw;
    height: 100vh;
    background-color: #7f7f7f;
    position: relative;

    .login_content{
        width: 800px;
        height: 414px;
        background-color: pink;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
    }
}